/* RIA/egzamen
 *
 * static/sass/generic/_box-sizing.scss - box sizing definition
 *
 * coded by Anne
 * started at 24/01/2017
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
