doctype html
html( lang="fr" )
    head
        title Egzamen

        link( rel="stylesheet", href="/css/styles.css" )/
        meta( name="viewport", content="width=device-width, initial-scale=1.0")/
        meta( charset="utf-8" )/
        script( src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous" )

    body

        div#app

        script( src="/js/app.js" )
        script( src="/js/map.js" )
        script( src="https://use.fontawesome.com/a0c221e969.js" )
        script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClfGzs3JWygOHF-J3GQqJke__tElojigQ" )
