doctype html
html( lang="fr" )
    head
        title Egzamen

        link( rel="stylesheet", href="/css/styles.css" )/

    body
        h1 Egzamen
        h2 Hello, world!

        figure
            img( src="/assets/cat.png", alt="Me, as a cat" )/

        script( src="/js/app.js" )
