/* RIA/egzamen
 *
 * /static/sass/components/_footer.scss - Styles for footer
 *
 * coded by Anne
 * started at 24/01/2017
 */

.footer {
    &__text {

    }
    &__link {
        text-decoration: none;
        color: black;
        display: inline-block;
        vertical-align: middle;
        &--github {
            font-size: 2em;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
