/* RIA/egzamen
 *
 * /static/sass/components/_loading.scss - Styles for loading section
 *
 * coded by Anne
 * started at 24/01/2017
 */

.loading {
    text-align: center;

    &__icon {
        display: block;
        margin-bottom: .2em;
    }
    &__text {
        
    }
}
